### Project Title: Titanic - Machine Learning from Disaster
#### Done By: Johannes Malefetsane Makgetha

---
<a id="cont"></a>
## Table of Contents

<a href=#BC> Background Context</a>

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Data Collection and Description</a>

<a href=#three>3. Loading Data</a>

<a href=#four>4. Data Cleaning and Filtering</a>

<a href=#five>5. Data Preprocessing</a>

<a href=#six>6. Statistical Data Analysis Processes</a>

<a href=#seven>7. Exploratory Data Analysis (EDA)</a>

<a href=#eight>8. Modeling</a>

<a href=#nine>9. Evaluation and Validation</a>

<a href=#ten>10. Final Model</a>

<a href=#eleven>11. Conclusion and Future Work</a>

<a href=#twelve>12. References</a>

---
<a id="BC"></a>
## **Background Context**
<a href=#cont>Back to Table of Contents</a>

---

---
<a href=#one></a>
## **Importing Packages**
<a href=#cont>Back to Table of Contents</a>

---

<div class="alert alert-block alert-info">
<b>Importing Packages</b> involves the inclusion of necessary libraries needed for data analysis and visualization. This step sets up the environment for executing data manipulation, statistical analysis, and generating plots.
</div>

In [1]:
# Importing pandas for data manipulation and analysis
import pandas as pd

# Importing seaborn for statistical data visualization
import seaborn as sns

# Importing matplotlib for plotting graphs and charts
import matplotlib.pyplot as plt

---
<a href=#three></a>
## **Loading Data**
<a href=#cont>Back to Table of Contents</a>


---

<div class="alert alert-block alert-info">
<b>Loading Data</b> is the process of importing the dataset into the analysis environment. This may involve reading data from various formats such as CSV, Excel, or SQL databases. Ensuring that the data is loaded correctly is crucial for subsequent analysis, as it lays the foundation for all future steps.
</div>

In [3]:
# Load the data
data = pd.read_csv("train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### Shape of the Data

In [4]:
data.shape

(891, 12)

Next, we check a summary of the dataFrame